@media screen and (max-width: 1000px) {
    .img-fluid{
        display: none;
    }
    .showcase{
        display: none;
        width: 0%;
        height: 0%;
    }
  }
  @media screen and (max-width: 600px) {
    .button {
        flex-direction: column;
    }
  }