
.img-fluid{
    animation: MoveUpDown 4s linear infinite alternate-reverse;
    position: relative;
    left: 0;
    bottom: 0;
    height: auto;
    width: 77%;
}

@keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  .main-heading{
    color: #0092CB;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .main-heading span{
    color: #FF9B3D;
  }

  .home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
  }

  .spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .layer1 {
    background: url('../images/wave.svg');
  }
